.title {
  font-size: 32px;
  color: $clr-dark;
  padding: 0 15px 0 10px;
  @include text-shadow($clr-blue);
  position: relative;
}


.link {
  transition: all .3s;
  cursor: pointer;

  &:hover {
    @include text-shadow($clr-blue)
  }

  &:after {
    @include hr-after(0%);
  }

  &:hover:after {
    width: 100%;
  }
}