body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 40px;

  font-family: 'Acme', sans-serif;
  font-weight: 300;
  font-size: $font-size;
  color: $clr-white;
  @include bg__cross-browser-gradient;
  
  // background: #2463c7; /* Для старых браузеров - без градиента */
  // background: -moz-linear-gradient(top,  #2463c7 0%, #bf0a07 240%); /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e27a7a), color-stop(240%,#bf0a07)); /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(top,  #2463c7 0%,#bf0a07 240%); /* Chrome10+,Safari5.1+ */
  // background: -o-linear-gradient(top,  #2463c7 0%,#bf0a07 240%); /* Opera 11.10+ */
  // background: -ms-linear-gradient(top,  #2463c7 0%,#bf0a07 240%); /* IE10+ */
  // background: linear-gradient(to bottom,  #2463c7 0%,#bf0a07 240%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2463c7', endColorstr='#bf0a07',GradientType=0 ); /* IE6-9 */
}

.container {
  max-width: 1400px; 
  padding: 0 20px;
  margin: 0 auto;
}


